body {
  margin: 0;
  padding: 0;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #271924;
  background-color: #FBFBFB;
}
p {
  font-size: 18px;
  line-height: 1.6;
}
